<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pizzeria.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Pizzeria.Properties.Settings.OrderHistoryConnectionString"
            connectionString="Data Source=PVN-PC;Initial Catalog=OrderHistory;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Pizzeria.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>iniuriel@gmail.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value>iniuriel@gmail.com</value>
            </setting>
            <setting name="JsonPath" serializeAs="String">
                <value>F:\Programowanie\C sharp\Pizzeria MetaPack\Pizzeria\Pizzeria\menu.json</value>
            </setting>
        </Pizzeria.Properties.Settings>
    </userSettings>
</configuration>